# importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import joblib
import matplotlib.pyplot as plt

# import the data file (.csv)

In [2]:
data = pd.read_csv('Cholestrol.csv')

In [3]:
data.head()

,Pateint,Age,HDL,LDL,TG,Total cholestrol,Output,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,36,30,136,183,234,0,NaN,NaN,NaN,NaN,NaN
1,2,45,31,143,191,243,1,NaN,NaN,NaN,NaN,NaN
2,3,49,24,157,187,233,2,NaN,NaN,NaN,NaN,NaN
3,4,55,37,140,178,236,0,NaN,NaN,NaN,NaN,NaN
4,5,44,26,148,151,236,1,NaN,NaN,NaN,NaN,NaN

# Concatinating the dataset and converting then into array

In [4]:
x = data.iloc[:,1:6]
y = data[['Output']]

In [5]:
x.head()

   Age  HDL  LDL   TG  Total cholestrol
0   36   30  136  183               234
1   45   31  143  191               243
2   49   24  157  187               233
3   55   37  140  178               236
4   44   26  148  151               236

In [6]:
x = np.array(x)
y = np.array(y)

# Fitting the data into Logistic Regression model

In [7]:
logreg = LogisticRegression()
logreg.fit(x, y)

c:\Users\Viraj\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Viraj\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Dumping the logreg model into .pkl file

In [8]:
joblib.dump(logreg,"model_Cholestrol.pkl")

['model_Cholestrol.pkl']

In [9]:
model = joblib.load("model_Cholestrol.pkl")

In [10]:
age = float(input("Patient's age : "))
HDL = float(input("HDL : "))
LDL = float(input("LDL : "))
TG = float(input("TG : "))
Total_cholestrol = float(input("Total Cholestrol : "))

In [12]:
input_data = {
    'age' : [age],
    'HDL' : [HDL],
    'LDL' : [LDL],
    'TG' : [TG],
    'Total_cholestrol' : [Total_cholestrol]
}

In [13]:
input_data_df = pd.DataFrame(input_data)

In [15]:
prediction = model.predict(input_data_df)
print(prediction)

[1]

c:\Users\Viraj\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [16]:
if prediction[0] == 0:
    print("Prediction: Cholestrol level LOW")
elif prediction[0] == 1:
    print("Prediction: Cholestrol level NORMAL")
elif prediction[0] == 2:
    print("Prediction: B level HIGH")

Prediction: Cholestrol level NORMAL